<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--　ページタイトル　ここから　-->
  <title>Dental Clinic</title>
  <!-- ページタイトル　ここまで　-->
  <meta name="description" content>
  <meta name="keyword" content>
  <meta http-equiv="X-UA-Compatible" content="IE=9">
  <link href="common/css/style.css" rel="stylesheet" type="text/css">
  <script type="text/jabascript" src="common/js/jquery.lightbox-0.5.min.js"></script>
  <script type="text/jabascript" src="common/js/setting.js"></script>
</head>
<body>
  <div id="wrapper">
    <div id="headerWrapper">
      <div id="header">
        <!-- ロゴ画像　ここから　-->
        <h1 class="siteTitle">
          <a href="index.html">
            <img src="common/images/siteTitle.png" alt="Dental Clinic">
          </a>
        </h1>
        <!--　ロゴ画像　ここまで　-->
        <!-- キャッチコピー　ここから　-->
        <div class="description">"地域に根付いた歯科医院"　デンタル　クリニック</div>
        <!--　キャッチコピー　ここまで　-->
        <div class="headerAddress">
          <!--　医院情報（ヘッダー）ここから　-->
          <p class="tel">03-0000-0000</p>
          <p cladd="time">
            "予約受付時間　10:00~19:30"
            <span class="hot">日祝　休診</span>
          </p>
          <!--　医院情報（ヘッダー）ここまで-->
          </div>
          <div class="nevi">
            <!-- ナビゲーション　ここから　-->
            <ul>
              <li>
                <a href="index.html" class="first">
                  <span class="titleJa">トップページ</span>
                  <span class="titleEn">HOME</span>
                </a>
              </li>
              <li>
                <a href="clinic.html">
                  <span class="titleJA">医院紹介</span>
                  <span class="titleEn">CLINIC</span>
                </a>
              </li>
              <li>
                <a href="sebice.html">
                  <span class="titleJa">診療案内</span>
                  <span class="titleEn">SERVICE</span>
                </a>
              </li>
              <li>
                <a href="https://saruwakakun.com/wsss" target="_blank">
                  <span class="titleJa">院長・スタッフ紹介</span>
                  <span class="titleEn">STAFF</span>
                </a>
              </li>
              <li>
                <a href="access.html" class="last">
                  <span class="titleJa">アクセス</span>
                  <span class="titleEn">ACCESS</span>
                </a>
              </li>
            </ul>
            <!--　ナビゲーション　ここまで　-->
          </div>
        </div>
      </div>


